<div class="container">
    <h2><%= t('registrations.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-group mb-3">
        <%= f.label :email %>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password %>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password_confirmation %>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
        </div>
      </div>

      <div class="mt-3">
        <%= link_to t('registrations.forgot_password'), new_password_path(resource_name), class: 'btn btn-primary' %>
      </div>

      <div class="actions mt-3">
        <%= f.submit t('registrations.submit'), class: 'btn btn-primary' %>
      </div>

      <%= render 'devise/shared/links' %>

  <% end %>
</div>
