<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="mb-3">
    <%= f.label :title, t('forms.title'), class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :address, class: 'form-label' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :datetime, class: 'form-label' %>
    <%= f.datetime_select :datetime, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>

