<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="mb-3">
    <%= f.label :title, t('forms.title'), class: 'form-label' %>
    <div class="input-group">
      <span class="input-group-text"><i class="fas fa-book"></i></span>
      <%= f.text_field :title, class: 'form-control', placeholder: t('forms.title') %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :address, t('forms.address'), class: 'form-label' %>
    <div class="input-group">
      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
      <%= f.text_field :address, class: 'form-control', placeholder: t('forms.address') %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :datetime, t('forms.datetime'), class: 'form-label' %>
    <div class="input-group">
      <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
      <%= f.datetime_select :datetime, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :description, t('forms.description'), class: 'form-label' %>
    <div class="input-group">
      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      <%= f.text_area :description, class: 'form-control', placeholder: t('forms.description') %>
    </div>
  </div>

  <div class="actions mt-3">
    <%= f.submit t('forms.save'), class: 'btn btn-primary' %>
    или <%= link_to t('forms.back'), :back %>
  </div>
<% end %>
